<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>142778999400-ig6fp3hjjlqeobv16hrkp8rgeodue3dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142778999400-ig6fp3hjjlqeobv16hrkp8rgeodue3dt</string>
	<key>API_KEY</key>
	<string>AIzaSyD-xPGPWXERjVDQ4poUu5c-DLipjtxVRX4</string>
	<key>GCM_SENDER_ID</key>
	<string>142778999400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chhaileng.FirebaseFileStorageDemo</string>
	<key>PROJECT_ID</key>
	<string>filestoragedemo6thshortcourse</string>
	<key>STORAGE_BUCKET</key>
	<string>filestoragedemo6thshortcourse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142778999400:ios:674c5cfb4e99580b</string>
	<key>DATABASE_URL</key>
	<string>https://filestoragedemo6thshortcourse.firebaseio.com</string>
</dict>
</plist>